<div class="row">

  <p class="comment_author col-md-3">
    <% if current_user == comment.user %>
        <%= t('.you_wrote') %>:
    <% else %>
        <%= comment.user ? comment.user.email : t('.unknown_user') %> <%= t('.wrote') %>:
    <% end %>
  </p>
  <p class="comment_body col-md-6">
    <%= comment.body %>
  </p>
  <p class="comment_links col-md-3">
    <% if have_rights_for?(comment) %>
      <%= edit_link edit_comment_path(comment) %>&nbsp&nbsp
      <%= delete_link comment, method: :delete, data:{confirm: t('.confirm_delete')} %>
  <% end %>
  </p>
</div>
