
<p>
  Пользователь <%= @comment_owner.email %> прокомментировал
  <% if @post_owner.id == @receiver.id %>
    вашу публикацию
  <% else %>
    публикацию пользователя <%= @post_owner.email %>
  <% end %>
  под заголовком "<%= link_to @post.title, @post %>".
</p>
<p>
  Текст комментария: "<%=@comment.body.truncate(100)%>
  <%="..." if @comment.body.truncate(100).length>97 %>"
</p>
