<%= form_for([:admin, @category]) do |f| %>

  <%= render 'error/handle', :errors => @category.errors  %>
  <div class="field">
    <p><strong><%= f.label :title %></strong></p>
    <%= f.text_area :title %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
