<%= form_for(@post) do |f| %>
  <%= render 'error/handle', :errors => @post.errors  %>

  <div class="field">
    <strong><%= f.label :title %></strong>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="field">
    <strong><%= f.label :body %></strong>
    <p><%= f.text_area :body %></p>
  </div>
  <div class="field">
    <strong><%= f.label :categories %></strong>
    <p><%= f.collection_select :category_ids, @categories, :id, :title, {}, {multiple:true}%></p>
  </div>
  <% if !@post.published? %>
    <p><%= t('.draft_instruction') %></p>
    <p><%= t('.draft_warning') %></p>
  <% else %>
    <p><%= t('.published_instruction') %></p>
    <p><%= t('.published_warning') %></p>
  <% end %>
  <div class="actions">
    <%= f.submit t('.submit_draft'), name: :unpublish %>
    <%= f.submit t('.submit_publish'), name: :send_for_moderation %>
  </div>
  <p></p>
<% end %>
