<%= form_for(@post) do |f| %>
  <%= render 'error/handle', :errors => @post.errors  %>

  <div class="field">
    <strong>Заголовок публикации:</strong>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="field">
    <strong>Текст публикации:</strong>
    <p><%= f.text_area :body %></p>
  </div>
  <div class="field">
    <strong>Категории:</strong>
    <p><%= f.collection_select :category_ids, @categories, :id, :title, {}, {multiple:true}%></p>
  </div>
  <% if !@post.published? %>
    <p>Пока это только черновик. Чтобы разместить публикацию на сайте, нажмите кнопку "Опубликовать".
    После модерации она станет доступна всем пользователям сайта.</p>
  <% else %>
    <p>Эта публикация размещена на сайте. Вы можете переместить ее в черновики либо опубликовать обновленный вариант. </p>
    <p>Внимание! В случае обновления публикации она будет убрана с сайта и снова станет доступна всем пользователям только после модерации.</p>
  <% end %>
  <div class="actions">
    <%= f.submit "Поместить в черновики", name: :unpublish %>
    <%= f.submit "Опубликовать", name: :send_for_moderation %>
  </div>
  <p></p>
<% end %>
