<%= form_for(@post) do |f| %>
  <%= render 'error/handle', :errors => @post.errors  %>

  <div class="field">
    <strong>Заголовок публикации:</strong>
    <p><%= f.text_field :title %></p>
  </div>
  <div class="field">
    <strong>Текст публикации:</strong>
    <p><%= f.text_area :body %></p>
  </div>
  <div class="actions">
    <%= f.submit "Опубликовать" %>
  </div>
<% end %>
