
    <h3><%= link_to post.title, post%></h3>
    <p><%= render 'posts/category_list', post:post %></p>
    <p><%= render 'posts/author', post:post %></p>
    <p><%= render 'posts/status', post:post %></p>
    <p><%= truncate(post.body, length:100) %></p>
    <p class="links">
      <%= icon_link_to 'eye', post, title:(t('.read_on')+"...")  %>&nbsp&nbsp
      <%= icon_link_to 'pencil-square-o', edit_post_path(post), title: (t(:edit)+"...") %>&nbsp&nbsp
      <%= render 'posts/private_links', post:post %>
    </p>
    <br>
