<h2 class="post_title"><%= @post.title %></h2>
<p class="post_categories"><%= render 'category_list', post:@post %></p>
<p class="post_author"><%= render 'author', post:@post %></p>
<p><%= render 'posts/if_draft', post:@post %></p>
<p class="field_navigation"></p>
<% @post.body.split("\n").each do |paragraph| %>
  <p class="post_body"><%= paragraph %></p>
<% end %>
<hr>
<% if @post.comments.any? %>
  <h4 class="field_navigation">Комментарии:</h4>
  <%= render @post.comments %>
  <h4 class="field_navigation">Оставьте свой комментарий:</h4>
<% else %>
  <h4 class="field_navigation">К этой публикации пока нет комментариев. Поделитесь своим мнением.</h4>
<% end %>
<%= render 'comments/form' %>
<hr>
<p class="links">
  <%= render 'posts/private_links', post: @post %>
  <%= link_to 'Список всех публикаций', posts_path %>
</p>