<h2 class="post_title"><%= @post.title %></h2>
<p class="post_categories"><%= render 'category_list', post:@post %></p>
<p class="post_author"><%= render 'author', post:@post %></p>
<p class="field_navigation"></p>
<% @post.body.split("\n").each do |paragraph| %>
  <p class="post_body"><%= paragraph %></p>
<% end %>
<hr>
<% if @post.comments.any? %>
  <h4 class="field_navigation">Комментарии:</h4>
  <%= render @post.comments %>
  <h4 class="field_navigation">Оставьте свой комментарий:</h4>
<% else %>
  <h4 class="field_navigation">К этой публикации пока нет комментариев. Поделитесь своим мнением.</h4>
<% end %>
<%= render 'comments/form' %>
<hr>
<p class="post_links">
  <% if @post.user == current_user %>
    <%= link_to 'Редактировать публикацию', edit_post_path(@post) %> |
    <%= link_to "Удалить публикацию", @post, method: :delete, data:{confirm:"Вы уверены, что хотите удалить публикацию?"}%> |
  <% end %>
  <%= link_to 'Список всех публикаций', posts_path %>
</p>