<h2 class="post_title"><%= @post.title %></h2>
<p class="post_categories"><%= render 'category_list', post:@post %></p>
<p class="field_navigation"></p>
<p class="post_body"><%= @post.body %></p>
<hr>
<% if @post.comments.any? %>
  <h4 class="field_navigation">Комментарии:</h4>
  <% @post.comments.each do |comment| %>
        <%= render comment %>
  <% end %>
  <h4 class="field_navigation">Оставьте свой комментарий:</h4>
<% else %>
  <h4 class="field_navigation">К этой публикации пока нет комментариев. Поделитесь своим мнением.</h4>
<% end %>
<%= render 'comments/form' %>
<hr>
<%= link_to 'Редактировать публикацию', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
